.v-application {
  .v-input {
    &.v-select.tiny {
      .v-select__selections,
      .v-input__slot {
        min-height: 32px !important;
        max-height: 32px;
      }
      .v-input__append-inner {
        margin-top: 4px !important;
      }
      .v-select__selection--comma {
        margin: 0 4px 8px 0 !important;
      }
    }
  }
}
