.v-tooltip__content.tooltip {
  border: 1px solid black;
  border-radius: 0;
  background-color: #222222;

  &.arrow-top {
    transform: translateY(-6px);

    &::after, &::before {
      bottom: 100%;
      left: 50%;
      border: solid transparent;
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &::before {
      border-color: rgba(194, 225, 245, 0);
      border-bottom-color: black;
      border-width: 5px;
      margin-left: -5px;
    }
  }

  &.arrow-bottom {
    transform: translateY(6px);

    &::after, &::before {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &::before {
      border-color: rgba(194, 225, 245, 0);
      border-top-color: black;
      border-width: 5px;
      margin-left: -5px;
    }
  }
 
  &.arrow-right {
    &::after, &::before {
      top: 50%;
      right: -11px;
      transform: translateY(-50%);
      border: solid transparent;
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &::before {
      border-color: rgba(194, 225, 245, 0);
      border-left-color: black;
      border-width: 5px;
      margin-left: -5px;
    }
  }
 
  &.arrow-left {

    &::after, &::before {
      top: 50%;
      left: -11px;
      transform: translateY(-50%);
      border: solid transparent;
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &::before {
      border-color: rgba(194, 225, 245, 0);
      border-right-color: black;
      border-width: 5px;
    }
  }
}