:root {
  --vcs-primary-logo: url('../assets/logo.svg');
  --vcs-mobile-logo: url('../assets/logo-mobile.svg');
}

.company-logo {
  background-image: var(--vcs-primary-logo);
  height: 36px;
  width: 151px;
}
.company-logo-mobile {
  background-image: var(--vcs-mobile-logo);
  height: 40px;
  width: 70px;
}

// Dev-Only!
.bg-dev.theme--light.v-application {
  background-color: var(--v-primary-base);
}
