@import 'vcsFont.scss';

.v-application {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  div,
  span,
  button,
  input,
  .caption,
  .tooltip,
  p {
    font-size: $vcs-font-size;
    &:not(.v-icon) {
      font-family: 'Titillium Web', sans-serif !important;
    }
  }

  h1 {
    font-size: 16px;
  }

  h2 {
    font-size: 14px;
  }

  h3 {
    font-weight: normal;
  }

  h4 {
    font-size: 12px;
    font-weight: normal;
  }
}
