@import 'vcsFont.scss';

.v-application,
.v-overlay-container {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  div,
  span,
  button,
  input,
  textarea,
  .caption,
  .tooltip,
  label,
  p {
    font-size: var(--v-vcs-font-size);
    &:not(.v-icon) {
      font-family: var(--v-vcs-font-family), sans-serif !important;
    }
  }
  h1 {
    font-size: calc(var(--v-vcs-font-size) + 3px);
  }

  h2 {
    font-size: calc(var(--v-vcs-font-size) + 1px);
  }

  h3 {
    font-weight: normal;
  }

  h4 {
    font-size: calc(var(--v-vcs-font-size) - 1px);
    font-weight: normal;
  }
  .v-tooltip > .v-overlay__content {
    font-size: var(--v-vcs-font-size);
  }
}
