@use './typography';
@use './vcsList';

@layer vuetify-core.reset {
  ul,
  ol,
  figure,
  details,
  summary {
    padding: 0;
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
}

/* latin-ext */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: url(./assets/font/TitilliumWeb-Regular.woff2) format('woff2');
}

html.vcs-ui {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

svg {
  height: inherit;
  width: inherit;
}
