.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.pos-a-0 {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.pos-t-0 {
  top: 0;
}

.pos-t-11 {
  top: 44px;
}

.pos-r-0 {
  right: 0;
}

.pos-r-1 {
  right: 4px;
}

.pos-r-8 {
  right: 32px;
}

.pos-b-4 {
  bottom: 16px;
}
