.w-full {
  width: 100%;
}

.w-half {
  width: 50%;
}

.w-max-half {
  max-width: 50% !important;
}

.w-max-unset {
  max-width: unset !important;
}

.h-full {
  height: 100%;
}

.h-3 {
  height: 12px;
}

.h-6 {
  height: 24px;
}

.h-8 {
  height: 32px;
}

.h-8 {
  height: 32px;
}

.h-10 {
  height: 40px;
}

.h-10\.5 {
  height: 42px;
}

.h-12 {
  height: 48px;
}

.h-16 {
  height: 64px;
}

.w-3 {
  width: 12px;
}

.w-4 {
  width: 16px;
}

.w-8 {
  width: 32px;
}

.w-16 {
  width: 64px;
}

.w-13 {
  width: 52px;
}

.w-max-16 {
  max-width: 64px !important;
}
