.slide-from-left-300-ease-enter-active,
.slide-from-left-300-ease-leave-active {
  transition: transform 0.3s ease;
}
.slide-from-left-300-ease-enter,
.slide-from-left-300-ease-leave-to {
  transform: translateX(-120%);
}

.slide-from-top-200-ease-enter-active,
.slide-from-top-200-ease-leave-active {
  transition: transform 0.2s ease;
}
.slide-from-top-200-ease-enter,
.slide-from-top-200-ease-leave-to {
  transform: translateY(-120%);
}

.slide-from-top-300-ease-enter-active,
.slide-from-top-300-ease-leave-active {
  transition: transform 0.3s ease;
}
.slide-from-top-300-ease-enter,
.slide-from-top-300-ease-leave-to {
  transform: translateY(-120%);
}
