.transition-color-100-ease {
  transition: color 0.1s ease;
}

.transition-transform-100-ease {
  transition: transform 0.1s ease;
}

.transition-transform-200-ease {
  transition: transform 0.2s ease;
}
