:deep(.v-field) {
  --v-field-padding-start: 8px;
  --v-field-padding-end: 8px;
}
.v-input--density-compact :deep(.v-field) {
  --v-input-control-height: calc(var(--v-vcs-item-height) - 8px);
  --v-field-padding-bottom: 0px;
  --v-field-input-padding-top: 0px;
  --v-input-padding-top: 0px;
}

:deep(.v-field--focused .v-field__outline *) {
  --v-field-border-width: 1px;
}

// set the border color on focused to primary, but not on error
:deep(.v-field--focused:not(.v-field--error) .v-field__outline *) {
  border-color: rgb(var(--v-theme-primary));
}
// Not color, just used if label is given
:deep(.v-field--focused:not(.v-field--error) .v-field__outline *::after) {
  border-color: rgb(var(--v-theme-primary));
}

// remove outline, if not focused, hovered or an error
:deep(.v-field:not(.v-field--focused):not(.v-field--error):not(:hover)) {
  .v-field__outline * {
    border-width: 0 0 1px 0;
    border-radius: 0;
  }
  .v-field__outline {
    padding-left: 8px;
    padding-right: 8px;
  }
  .v-field__loader {
    padding-left: 8px;
    padding-right: 8px;
  }
  .v-field__outline *::before {
    border-width: 0;
    border-radius: 0;
  }
  .v-field__outline * label {
    color: rgb(var(--v-theme-primary));
    margin-left: -4px;
  }
}

// move unit to the right
:deep(.v-field--appended) {
  padding-inline-end: 8px;
}

// remove margin from prepended Icon
.v-input--horizontal :deep(.v-input__prepend) {
  margin-inline-end: 4px;
}
.primary--placeholder {
  :deep(input::placeholder) {
    color: rgb(var(--v-theme-primary));
    font-style: italic;
    opacity: 1;
    padding: 0 3px 0 0;
  }
  :deep(input::-moz-placeholder) {
    font-style: initial;
  }
}

// remove details
:deep(.v-input__details) {
  display: none;
}

// Progress Bar
:deep(.v-field__loader) {
  top: calc(100% - 2px);
}

// unit margin
:deep(.v-field__clearable) {
  margin-left: 0;
}
